.button-count{
  width: 100px;
  height: 100px;
  background-color: grey;
  border-width: 1px;
  border-color: black;
  font-size: xx-large;
}

.toggle-button {
  width: 500px;
  height: 100px;
  background-color: grey;
  border-width: 1px;
  border-color: black;
  font-size: large;
}