.remove {
  border-color: black;
  border-width: 2px;
  font-size: small;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  color: black;
}

.TodoNote {
  border-radius: 10px;
  
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color: black;
}
