body {
    background-color: burlywood;
}

p {
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    background-color: whitesmoke;
}

.cars {
    background-color: whitesmoke;
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#Benz {
    background-color: blueviolet;
    
}

.text {
    padding: 20px 20px 20px 20px;
}

img {
   padding: 20px 10px 20px 30px;
}

